[submodule "tests/stubs"]
	path = tests/stubs
	url = https://github.com/paresy/SymconStubs
[submodule "HomeKitBridge/helper"]
	path = HomeKitBridge/helper
	url = https://github.com/symcon/SymconHelper
[submodule ".style"]
	path = .style
	url = https://github.com/symcon/StylePHP
