<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage/>
  <php>
    <const name="PHPUNIT_TESTSUITE" value="true"/>
    <const name="IPS_VERSION" value="7.4"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">../HomeKitBridge</directory>
      <directory suffix=".php">../libs</directory>
    </include>
  </source>
</phpunit>
