name: Run Tests

on: [push, pull_request]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout module
        uses: actions/checkout@master
        with:
          submodules: true
      - name: Run tests 
        uses: symcon/action-tests@master
      - name: Patch phpunit.xml to use Version 7.4 emulation
        run: sed -i '/<const name="PHPUNIT_TESTSUITE" value="true"\/>/a \    <const name="IPS_VERSION" value="7.4"/>' tests/phpunit.xml
      - name: Run tests (for 7.4)
        uses: symcon/action-tests@master
